*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #0f0c29;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
}